@import 'reset.css';

body {
    background-color: #fdfdf3; /* Бежевый цвет фона */
    color: #556b2f; /* Нежно-зеленый цвет текста */
    font-family: Arial, sans-serif; /* Шрифт */
}

h1, h2, h3, h4, h5, h6 {
    color: #556b2f; /* Нежно-зеленый цвет заголовков */
}

h1{
    font-size: 50px;
    text-align: center;
}

.user{
    background-color: rgb(225, 243, 223);
    text-align: center;
    width: 500px;
    height: 100px;
    margin-top: 20px;
    margin: 20px auto; /* выравниваем body по центру страницы */
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 5px #556b2f;
    border-radius: 10px;
}




button {
    background-color: #556b2f; /* Нежно-зеленый цвет кнопок */
    color: #f4faee; /* Бежевый цвет текста на кнопках */
    border: none;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    
}

.centrbutton{
    background-color: #556b2f; /* Нежно-зеленый цвет кнопок */
    color: #f5f5dc; /* Бежевый цвет текста на кнопках */
    border: none;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: #ebfff1; /* Бежевый цвет кнопок при наведении */
    color: #556b2f; /* Нежно-зеленый цвет текста на кнопках при наведении */
}

.nav{
    background-color: #ebfff1;
    font-size: 20px;
    display: flex;
    align-items: center;
    height: 70px;
}

.logo{
    height: 60px;
    border-radius: 52px;
    margin: 10px 10px 10px 10px;
}
a {
    color: #556b2f; /* Нежно-зеленый цвет ссылок */
    text-decoration: none;
    margin-right: 20px;
    float: right;
}



   a:hover {
    color: #31d831; /* Цвет ссылки при наведении */ 
   }
   
form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  input[type="text"] {
    width: 200px; /* задаем ширину для input */
    padding: 10px; /* задаем отступы для input */
    border: 1px solid #ccc; /* задаем границу для input */
    border-radius: 5px; /* задаем скругление углов для input */
  }

  input[type="password"] {
    width: 200px; /* задаем ширину для input */
    padding: 10px; /* задаем отступы для input */
    border: 1px solid #ccc; /* задаем границу для input */
    border-radius: 5px; /* задаем скругление углов для input */
  }

p{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 70%;
    border: 1px solid #a7b4a8;
    text-align: center;
}

.post{
    background-color: rgb(255, 254, 251);
    border-radius: 20px;
    padding: 15px 5px 15px 5px;
}


/*
body{
    background-color: rgb(220, 245, 235);
    justify-content: center;
    align-items: center;
}

button{
    background-color: darkseagreen;
    color: whitesmoke;
    border: none;
    border-radius: 20px;
    font-size: 25px;
}

button:hover {
    background-color: #70b418; 
}


::placeholder {
    color: rgb(151, 173, 151);
}

a{
    color:rgb(114, 153, 140);
    text-decoration: none;
}

p{
    background-color: rgb(250, 226, 240);
    text-align: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(223, 198, 247);
}

input[type="text"] {
  border: 1px solid #99008c;
  background-color: #f2f2f2;
  color: #333;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 10px;
}

input[type="password"] {
    border: 1px solid #99008c;
    background-color: #f2f2f2;
    color: #333;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 10px;
  }

  .nav{
    background-color: #f2f2f2;
    font-size: 20px;

  }

  h1{
    font-size: 30px;
    background-color: #f2f2f2;;
    text-align: center;
  }
*/