body{
    background-color: rgb(230, 253, 255);
    text-align: center;
}

button{
    background-color: darkseagreen;
    color: whitesmoke;
    border: none;
    border-radius: 20px;
}

button:hover {
    background-color: #70b418; /* цвет фона при наведении */
}

::placeholder {
    color: rgb(151, 173, 151);
}

a{
    color:rgb(114, 153, 140);
}